body{
    background-image: linear-gradient(to top, #6da0ff, #5790fa, #b8a4ff);
    background-attachment: fixed;
}
.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

div{
    margin-bottom: 10px;
    margin: auto;
}
label{
    display: block;
    color: white;
    width: 30%;
    margin: auto;
}
.controle{
    display: flex;
    justify-content: center;

}
input{
    display: block;
    margin: auto;
}
main{
    background-color: blue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
    width: 600px;
    padding : 10px;
    margin: auto;
}
